<html>
<head>
    <title>Admin Signup</title>
</head>
<body>
    <h1>Admin Signup</h1>
    <form onsubmit="return adminRegFormValidate()"> 
            Admin Name: <input type="text" name="admin_name" value="" /> <br>
            Email: <input type="email" name="email" value="" /> <br>
            Contact No: <input type="text" name="contact_no" value="" /> <br>
            Username: <input type="text" name="username" value="" /> <br>
            Password: <input type="password" name="password" value="" /><br>
            <input type="submit" name="submit" value="Register" />
    </form>

    <script src="../asset/js/adminReg.js"></script>
</body>
</html>
